.ieromin-contact {
  position: relative;
  height: 100vh;

  @media screen and (max-width: $media-md) {
    height: auto;
  }

  &__container {
    // box-sizing: content-box;
    display: flex;
    // margin: 0 auto;
    // max-width: 1680px;
    // padding: 0 120px;

    @media screen and (max-width: $media-md) {
      flex-direction: column;
      overflow: hidden;
      padding: 0;
    }
  }

  &__feedback {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 138px;

    @media screen and (max-width: $media-md) {
      flex-basis: 100%;
      padding: 0 15px;
      width: 100%;
    }
  }
  // 
  // &__feedback-logo {
  //   margin-top: 60px;
  //   position: absolute;
  //   z-index: 1;
  // 
  //   @media screen and (max-width: $media-md) {
  //     display: none;
  //   }
  // }
  // 
  // &__square {
  //   background-color: #000;
  //   display: block;
  //   height: 540px;
  //   left: -60px;
  //   margin-bottom: 80px;
  //   position: relative;
  //   top: 0;
  //   width: 410px;
  // 
  //   @media screen and (max-width: $media-md) {
  //     height: 114px;
  //     left: 0;
  //     margin-bottom: 30px;
  //     width: 136px;
  //   }
  // }
  // 
  // &__write-me {
  //   position: relative;
  // }
  // 
  // &__write-me-text {
  //   color: #fff;
  //   font-size: 120px;
  //   font-weight: 700;
  //   position: absolute;
  //   top: 290px;
  //   white-space: nowrap;
  // 
  //   @media screen and (max-width: $media-md) {
  //     font-size: 37px;
  //     left: 28px;
  //     top: 40px;
  //   }
  // 
  //   .black {
  //     color: #000;
  //   }
  //
  //   @media (min-width: $media-xxl) {
  //     font-size: 160px;
  //   }
  // }

  &__feedback-text {
    margin-bottom: auto;
    margin-top: auto;

    @media screen and (max-width: $media-md) {
      display: none;
    }
  }
}

.ieromin-contact__lettering {
  position: relative;
  top: 0;
  left: -120px;
  height: 530px;
  font-size: 120px;

  @media (min-width: $media-xxl) {
    left: -160px;
    height: 720px;
    font-size: 160px;
  }

  @media (max-width: $media-xl-plus) {
    height: 385px;
    font-size: 86px;
    left: -85px;
  }

  @media (max-width: $media-lg) {
    font-size: 60px;
    left: -60px;
  }

  @media (max-width: $media-md) {
    height: 115px;
    left: 0;
    font-size: 40px;
  }
}

.ieromin-contact__lettering-text {
  position: absolute;
  top: 300px;
  left: 120px;
  display: block;
  font-weight: 900;
  line-height: .7em;
  white-space: nowrap;
  text-transform: uppercase;

  @media (min-width: $media-xxl) {
    top: 400px;
    left: 160px;
  }

  @media (max-width: $media-xl-plus) {
    top: 215px;
    left: 85px;
  }

  @media (max-width: $media-lg) {
    left: 60px;
  }

  @media (max-width: $media-md) {
    top: 45px;
    left: 20px;
  }
}

$textRatio: 2.85em;

$leftEdge: 120px / 2;
$rightEdge: "120px + #{$textRatio}";

$leftEdgeXXL: 160px / 2;
$rightEdgeXXL: "160px + #{$textRatio}";

$leftEdgeXL: 84px / 2;
$rightEdgeXL: "84px + #{$textRatio}";

$leftEdgeLG: 60px / 2;
$rightEdgeLG: "60px + #{$textRatio}";

$rightEdgeMD: "20px + #{$textRatio}";

.ieromin-contact__lettering-inverted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;

  // transition: .4s clip-path;
  clip-path: polygon(calc(#{$rightEdge} - 2px) 0, calc(#{$rightEdge}) 0, calc(#{$rightEdge}) 80px, calc(#{$rightEdge} - 2px) 80px);
  //
  // animation-name: unfoldInverted;
  // animation-duration: .5s;
  // animation-iteration-count: 1;
  // animation-direction: reverse;
  // animation-delay: 1s;
  // animation-fill-mode: forwards;

  .slick-active & {
    // animation-direction: normal;
  }
  clip-path: polygon($leftEdge 0, calc(#{$rightEdge}) 0, calc(#{$rightEdge}) 100%, $leftEdge 100%);

  @media (min-width: $media-xxl) {
    clip-path: polygon($leftEdgeXXL 0, calc(#{$rightEdgeXXL}) 0, calc(#{$rightEdgeXXL}) 100%, $leftEdgeXXL 100%);
  }

  @media (max-width: $media-xl-plus) {
    clip-path: polygon($leftEdgeXL 0, calc(#{$rightEdgeXL}) 0, calc(#{$rightEdgeXL}) 100%, $leftEdgeXL 100%);
  }

  @media (max-width: $media-lg) {
    clip-path: polygon($leftEdgeLG 0, calc(#{$rightEdgeLG}) 0, calc(#{$rightEdgeLG}) 100%, $leftEdgeLG 100%);
  }

  @media (max-width: $media-md) {
    clip-path: polygon(0 0, calc(#{$rightEdgeMD}) 0, calc(#{$rightEdgeMD}) 100%, 0 100%);
  }

}

// @keyframes unfoldInverted {
//   0% {
//     clip-path: polygon(calc(#{$rightEdge} - 2px) 0, calc(#{$rightEdge}) 0, calc(#{$rightEdge}) 80px, calc(#{$rightEdge} - 2px) 80px);
//   }
//   50% {
//     clip-path: polygon(calc(#{$rightEdge} - 2px) 0, calc(#{$rightEdge}) 0, calc(#{$rightEdge}) 100%, calc(#{$rightEdge} - 2px) 100%);
//   }
//
//   100% {
//     clip-path: polygon(60px 0, calc(#{$rightEdge}) 0, calc(#{$rightEdge}) 100%, 60px 100%);
//   }
// }

.ieromin-contact__lettering-logo {
  position: absolute;
  top: 65px;
  left: 120px;
  width: 107px;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $media-xxl) {
    top: 88px;
    left: 160px;
    width: 155px;
  }

  @media (max-width: $media-xl-plus) {
    top: 45px;
    left: 85px;
    width: 86px;
    height: 18px;
  }

  @media (max-width: $media-lg) {
    left: 60px;
  }

  @media (max-width: $media-md) {
    display: none;
  }
}
