.rev-achiev-page {
  height: 100vh;
  overflow: hidden;

  @media (max-width: $media-md) {
    height: auto;
    overflow: auto;
  }

  &__wrapper {
    display: flex;

    @media (max-width: $media-md) {
      display: initial;
    }
  }

  &__item {
    flex-basis: 50%;

    @media (max-width: $media-md) {
      flex-basis: initial;
    }
  }
}
