.rev-achiev-page {
  &__wrapper {
    display: flex;
    padding-top: 50px;

    @media screen and (max-width: 1199px) {
      display: initial;
    }
  }

  &__item {
    flex-basis: 50%;

    @media screen and (max-width: 1199px) {
      flex-basis: initial;
    }
  }
}
