.rev-achiev-page {
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    overflow: auto;
  }

  &__wrapper {
    display: flex;

    @media screen and (max-width: 1200px) {
      display: initial;
    }
  }

  &__item {
    flex-basis: 50%;

    @media screen and (max-width: 1200px) {
      flex-basis: initial;
    }
  }
}
