.index-footer {
  align-items: center;
  bottom: 0;
  display: flex;
  padding: 60px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  font-size: 10px;

  @media (min-width: $media-xxl) {
    font-size: 14px;
  }

  @media (max-width: $media-xl-plus) {
    padding: 45px 0;
    font-size: 10px;
  }

  @media (max-width: $media-lg) {
  }

  @include hide-on-menu-hover;
  @include hide-on-name-lettering-hover;

  @media (max-width: $media-md) {
    display: none;
  }

  &__soc {
    align-items: center;
    display: flex;
    margin-right: auto;
    min-width: 360px;

    @media (max-width: $media-lg) {
      min-width: 0;
    }
  }

  &__soc-title {
    margin-right: 70px;

    @media (max-width: $media-xl-plus) {
      margin-right: 45px;
    }

    @media (max-width: $media-lg) {
      margin-right: 25px;
    }
  }

  &__soc-list {
    align-items: center;
    color: #000;
    display: flex;
  }

  &__soc-item {
    &:not(:last-child) {
      margin-right: 25px;
    }

    @media (max-width: $media-xl-plus) {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }

    @media (max-width: $media-lg) {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__copyright {
    margin-right: 120px;
    margin-left: auto;
    max-width: 360px;
    min-width: 200px;
    // padding-left: 180px;

    @media (min-width: 1700px) {
      flex-grow: 1;
    }
    // text-align: right;
    // white-space: nowrap;

    @media (max-width: $media-xl-plus) {
      margin-right: 85px;
    }

    @media (max-width: $media-lg) {
      flex-grow: 0;
      margin-right: 60px;
      padding-left: 15px;
    }
  }
}
