.tags {
  display: flex;
  flex-wrap: wrap;

  &__item {
    background-color: $tag-color;
    box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.01);
    display: inline-block;
    margin-bottom: 20px;

    @media (max-width: $media-xl-plus) {
      margin-bottom: 15px;
    }

    @media (max-width: $media-lg) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: $media-lg) {
        margin-right: 10px;
      }
    }

    a {
      color: inherit;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      padding: 10px;
      white-space: nowrap;

      @media (max-width: $media-lg) {
        font-size: 13px;
        padding: 9px 5px;
      }
    }
  }
}
