.article-prev {
  flex-basis: calc(50% - 20px);

  @media screen and (max-width: $media-lg) {
    flex-basis: calc(50% - 15px);
  }

  @media screen and (max-width: $media-sm) {
    flex-basis: 100%;
  }

  &__header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  &__likes {
    font-weight: 500;
    margin-right: 20px;
    white-space: nowrap;

    @media screen and (max-width: $media-lg) {
      display: none;
    }

    .likes-title {
      font-size: 12px;
      opacity: 0.5;
    }

    .likes-count {
      font-size: 18px;
    }
  }

  &__tags {
    margin-left: auto;

    @media screen and (max-width: $media-lg) {
      margin-left: 0;
      margin-right: auto;
    }
  }

  &__image-wrapper {
    align-items: center;
    background-color: $global-light-grey;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    min-height: 186px;
    overflow: hidden;
    position: relative;
    filter: grayscale(100%);
    transition-duration: .4s;
    transition-property: filter, box-shadow;
    box-shadow: 0 0 0 rgba(#000, 0);

    &::after {
      background-color: #000;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.25;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover {
      filter: grayscale(0%);
      box-shadow: 0 8px 25px rgba(#000, .05);
    }

    @media screen and (max-width: $media-sm) {
      display: block;
    }

    @media screen and (max-width: $media-lg) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: $media-md) {
      filter: none;
    }
  }

  &__image {
  }

  &__caption {
    font-weight: 700;
    margin-bottom: 28px;

    @media screen and (max-width: $media-lg) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 18px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    max-width: 665px;
    opacity: 0.5;

    @media screen and (max-width: $media-lg) {
      font-size: 10px;
      line-height: 15px;
    }
  }

  &__footer {
    margin-top: 47px;

    @media screen and (max-width: $media-lg) {
      margin-top: 28px;
    }
  }
}
