.contact__footer {
  margin-bottom: 64px;
  padding-top: 415px;

  &-text {
    font-size: 10px;
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.form__footer {
  margin-bottom: 64px;
  padding-top: 195px;

  &-sign {
    font-size: 10px;
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
