.contact__footer {
  margin-bottom: 20px;
  padding-top: 314px;

  &-text {
    font-size: 10px;
    font-weight: 400;
  }

  @media screen and (max-height: 900px) {
    padding-top: 255px;
  }

  @media screen and (max-width: $media-lg-plus) {
    padding-top: 275px;
  }

  @media screen and (max-height: 800px) {
    padding-top: 222px;
  }

  @media screen and (max-width: $media-md) {
    padding-top: 255px;
  }

  @media screen and (max-width: $media-sm) {
    display: none;
  }
}

.form__footer {
  margin-bottom: 20px;
  padding-top: 92px;

  &-sign {
    font-size: 10px;
    font-weight: 400;
  }

  @media screen and (max-width: $media-lg-plus) {
    padding-top: 92px;
  }

  @media screen and (max-height: 800px) {
    padding-top: 45px;
  }

  <<<<<<< head ======= @media screen and (max-height: 768px) {
    padding-top: 42px;
  }

  >>>>>>> d0a2b471f899910d3571923e2ab4485e88c7b873 @media screen and (max-width: $media-lg) {
    padding-top: 109px;
  }

  @media screen and (max-width: $media-lg) {
    padding-top: 92px;
  }

  @media screen and (max-width: $media-sm) {
    display: none;
  }
}
