.index-slider {
  &__swap {
    margin-right: 115px;
    transition-duration: .3s;
    transition-property: color;

    &.hidden {
      color: transparent;
    }
  }

  &__controls {
    align-items: center;
    bottom: 60px;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 10;

    @include hide-on-name-lettering-hover;

    @media screen and (max-width: $media-lg) {
      display: none;
    }
  }

  &__bullets {
    display: flex;
    font-size: 0;

    li {
      background-color: transparent;
      border: 2px solid #000;
      cursor: pointer;
      height: 14px;
      width: 14px;

      &:not(:last-child) {
        margin-right: 70px;
      }

      button {
        cursor: pointer;
        font-size: 0;
      }

      &.slick-active {
        background-color: #000;
      }
    }
  }
}
