.index-slider {
  height: 100vh;
  overflow: hidden;
  margin-bottom: 0 !important;

  @media (max-width: $media-md) {
    height: auto;
  }
  
  &__swap {
    // margin-right: 115px;
    margin-right: auto;
    flex-shrink: 0;
    transition-duration: .3s;
    transition-property: color;

    &.hidden {
      color: transparent;
    }

    @media (max-width: $media-xl), (max-height: 850px) {
      // margin-right: 70px;
      // margin-right: 20px;
    }

    @media (max-width: $media-lg) {
      margin-right: 40px;
    }
  }

  &__controls {
    box-sizing: border-box;
    align-items: center;
    // bottom: 60px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-width: 380px;
    margin-left: 70px;
    margin-right: 70px;
    // left: 50%;
    // position: absolute;
    // transform: translateX(-50%);
    // z-index: 10;

    @include hide-on-name-lettering-hover;

    @media (max-width: $media-xl), (max-height: 850px) {
      // bottom: 45px;
      max-width: 270px;
    }

    @media (max-width: $media-lg) {
      flex-grow: 0;
    }

    @media (max-width: $media-md) {
      display: none;
    }
  }

  &__bullets {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    width: 100%;
    max-width: 182px + 70px;
    padding-left: 70px;

    @media (max-width: $media-xl), (max-height: 850px) {
      max-width: 135px + 54px;
      padding-left: 54px;
    }

    @media (max-width: $media-lg) {
      max-width: 100%;
      padding-left: 0;
    }

    li {
      position: relative;
      background-color: transparent;
      border: 2px solid #000;
      // cursor: pointer;
      height: 14px;
      width: 14px;

      &:not(:last-child) {
        // margin-right: 70px;
        margin-right: 20px;
      }

      button {
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        display: block;
        // cursor: pointer;
        font-size: 0;
      }

      &.slick-active {
        background-color: #000;
      }

      @media (max-width: $media-xl), (max-height: 850px) {
        width: 9px;
        height: 9px;

        &:not(:last-child) {
          // margin-right: 54px;
          margin-right: 10px;
        }
      }

      @media (max-width: $media-lg) {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}
