.likes {
  align-items: center;
  display: flex;
  margin-right: 20px;

  @media screen and (max-width: $media-lg) {
    margin-right: 65px;
  }

  &__heart {
    background-color: #000;
    display: inline-block;
    height: 54px;
    margin-right: 20px;
    position: relative;
    width: 54px;

    .icon {
      height: 28px;
      left: 2px;
      left: 11px;
      position: absolute;
      stroke: #fff;
      stroke-width: 33;
      top: 3px;
      top: 13px;
      width: 33px;

      &:hover {
        fill: #fff;
      }
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 500;

    .text__word {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &--reverse {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;

    .likes__heart {
      margin-right: 0;
      margin-left: 20px;

      @media (max-width: $media-xl-plus) {
        margin-left: 15px;
      }
    }
  }
}
