.article-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1416px;

  @media screen and (max-width: $media-md) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__content {
    margin-right: 60px;
    max-width: 1030px;
    text-transform: initial;

    @media screen and (max-width: $media-lg) {
      margin-right: 40px;
    }

    @media screen and (max-width: $media-md) {
      margin-right: 0;
    }
  }

  &__stats {
    height: 515px;
    position: sticky;
    top: 30px;

    @media screen and (max-width: $media-md) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      justify-content: space-between;
      margin-bottom: 20px;
      order: -1;
      position: initial;
      width: 100%;
    }

    @media screen and (max-width: $media-xs) {
      margin-bottom: 50px;
      order: 1;
    }
  }

  &__share {
    margin-top: 40px;

    @media screen and (max-width: $media-md) {
      align-items: center;
      display: flex;
      margin-top: 30px;
      width: 100%;
    }

    @media screen and (max-width: $media-xs) {
      justify-content: center;
    }
  }

  &__image-wrapper {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 70px;
    max-width: 1030px;
    position: relative;

    @media screen and (max-width: $media-md) {
      display: block;
      margin-bottom: 50px;
    }

    @media screen and (max-width: $media-xs) {
      margin-bottom: 20px;
    }
  }

  &__caption {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;

    @media screen and (max-width: $media-xs) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 18px;
    }
  }

  &__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    opacity: 0.5;

    @media screen and (max-width: $media-xs) {
      font-size: 10px;
      line-height: 15px;
      margin-bottom: 18px;
    }
  }

  &__text-block {
    &:not(:last-child) {
      margin-bottom: 70px;

      @media screen and (max-width: $media-md) {
        margin-bottom: 60px;
      }

      @media screen and (max-width: $media-xs) {
        margin-bottom: 40px;
      }
    }

    &--main:not(:last-child) {
      margin-bottom: 90px;
      text-transform: uppercase;

      @media screen and (max-width: $media-md) {
        margin-bottom: 80px;
      }

      @media screen and (max-width: $media-xs) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    opacity: 0.85;

    @media screen and (max-width: $media-md) {
      font-size: 17px;
      line-height: 28px;
      margin-bottom: 40px;
    }

    @media screen and (max-width: $media-sm) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    &-link {
      color: inherit;
      font-weight: 500;
      opacity: 1;
      text-decoration: underline;
    }

    &-note {
      background-image: url(../images/icons/quote.svg);
      background-position: 30px 5px;
      background-repeat: no-repeat;
      background-size: 37px 37px;
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 50px;
      padding-left: 100px;

      @media screen and (max-width: $media-md) {
        background-position: 2px 0;
        background-size: 20px 20px;
        margin-bottom: 40px;
      }

      @media screen and (max-width: $media-sm) {
        font-size: 16px;
        line-height: 30px;
        padding-left: 0;
        padding-top: 30px;
      }
    }

    &--big {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
      opacity: 1;

      @media screen and (max-width: $media-md) {
        font-size: 23px;
        line-height: 34px;
        margin-bottom: 30px;
      }

      @media screen and (max-width: $media-sm) {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 26px;
      }
    }

    &--bold {
      font-weight: 700;

      @media screen and (max-width: $media-sm) {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }

  &__list {
    @media screen and (max-width: $media-sm) {
      font-size: 14px;
      line-height: 24px;
    }

    &-item {
      padding-left: 80px;
      position: relative;

      @media screen and (max-width: $media-sm) {
        padding-left: 20px;
      }

      &:not(:last-child) {
        margin-bottom: 40px;

        @media screen and (max-width: $media-md) {
          margin-bottom: 30px;
        }

        @media screen and (max-width: $media-sm) {
          margin-bottom: 20px;
        }
      }

      &::before {
        background-color: #000;
        content: "";
        height: 12px;
        left: 34px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;

        @media screen and (max-width: $media-sm) {
          height: 10px;
          left: 0;
          top: 12px;
          width: 10px;
        }
      }
    }
  }

  &__video-wrapper {
    align-items: flex-end;
    display: flex;
    margin-bottom: 70px;

    @media screen and (max-width: $media-md) {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 50px;
    }

    @media screen and (max-width: $media-sm) {
      margin-bottom: 40px;
    }
  }

  &__video {
    margin-right: 30px;

    @media screen and (max-width: $media-lg) {
      margin-right: 20px;
    }

    @media screen and (max-width: $media-md) {
      margin-bottom: 20px;
      margin-right: 0;
    }

    &-about {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      opacity: 0.5;
      padding-bottom: 70px;

      @media screen and (max-width: $media-md) {
        padding-bottom: 0;
      }

      @media screen and (max-width: $media-sm) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &__likes {
    margin-bottom: 60px;

    @media screen and (max-width: $media-md) {
      margin-bottom: 0;
    }
  }

  &__tags {
  }

  &__share-title {
    @media screen and (max-width: $media-xs) {
      display: none;
    }
  }
}
