.contact {
  float: left;
  height: 100vh;
  width: 50%;

  &__content {
    margin-bottom: 415px;
  }

  .email {
    display: flex;
    margin-bottom: 75px;

    @media screen and (max-width: $media-mobile) {
      margin-bottom: 62px;
    }

    &__text {
      color: $global-dark-grey;
      margin-right: 86px;

      @media (min-width: 786px) and (max-width: 1199px) {
        margin-right: 10px;
      }
    }

    &__link {
      color: $global-black;
      font-size: 24px;
      font-weight: 700;

      @media screen and (max-width: $media-mobile) {
        font-size: 20px;
      }
    }
  }

  .social {
    display: flex;

    &__text {
      color: $global-dark-grey;
      margin-right: 72px;

      @media (min-width: 786px) and (max-width: 1199px) {
        margin-right: 56px;
      }
    }

    &__link {
      display: flex;
      flex-direction: column;
    }

    &__link-text {
      color: $global-black;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media screen and (max-width: $media-mobile) {
        font-size: 20px;
      }
    }
  }
}
