.contact-wrapper {
  @media screen and (max-width: $media-sm) {
    display: flex;
    flex-direction: column;
  }
}

.contact {
  float: left;
  // height: 100vh;
  position: relative;
  width: 50%;

  @media screen and (max-width: $media-sm) {
    display: flex;
    height: 460px;
    justify-content: center;
    width: 100%;
  }

  @media screen and (max-width: $media-xs) {
    display: block;
    height: 325px;
  }

  &__content {
    @media screen and (max-width: $media-lg) {
      padding-left: 20px;
    }

    @media screen and (max-width: $media-sm) {
      height: 100%;
    }
  }

  .email {
    display: flex;
    margin-bottom: 75px;

    @media screen and (max-width: $media-lg) {
      margin-bottom: 62px;
    }

    @media screen and (max-width: $media-md) {
      flex-direction: column;
      margin-bottom: 39px;
    }

    @media screen and (max-width: $media-sm) {
      flex-direction: row;
      margin-bottom: 39px;
    }

    @media screen and (max-width: $media-md) {
      flex-direction: column;
      margin-bottom: 39px;
    }

    @media screen and (max-width: $media-sm) {
      flex-direction: row;
      margin-bottom: 39px;
    }

    @media screen and (max-width: $media-xs) {
      flex-direction: column;
      margin-bottom: 39px;
      max-width: 302px;
    }

    &__text {
      color: $global-dark-grey;
      cursor: pointer;
      margin-right: 86px;

      @media screen and (max-width: $media-lg) {
        margin-right: 55px;
      }

<<<<<<< HEAD
      @media screen and (max-width: $media-md) {
        margin: 0 44px 25px 0;
      }

=======
      @media screen and (max-height: 768px) {
        font-size: 14px;
      }

      @media screen and (max-width: $media-md) {
        margin: 0 44px 25px 0;
      }

>>>>>>> d0a2b471f899910d3571923e2ab4485e88c7b873
      @media screen and (max-width: $media-sm) {
        font-size: 14px;
        margin-right: 60px;
      }

      @media screen and (max-width: $media-xs) {
        font-size: 10px;
        margin: 0 40px 18px 0;
      }
    }

    &__link {
      color: $global-black;
      font-size: 24px;
      font-weight: 700;

      @media screen and (max-height: 900px) {
<<<<<<< HEAD
        font-size: 20px;
      }

      @media (max-width: $media-lg-plus) {
        font-size: 20px;
      }

      @media screen and (max-width: $media-lg) {
        font-size: 18px;
      }

=======
        font-size: 20px;
      }

      @media (max-width: $media-lg-plus) {
        font-size: 20px;
      }

      @media screen and (max-height: 768px) {
        font-size: 18px;
      }

      @media screen and (max-width: $media-lg) {
        font-size: 18px;
      }

>>>>>>> d0a2b471f899910d3571923e2ab4485e88c7b873
      @media screen and (max-width: $media-sm) {
        font-size: 15px;
      }

      @media screen and (max-width: $media-xs) {
        font-size: 14px;
      }
    }
  }

  .social {
    display: flex;

    @media screen and (max-width: $media-xs) {
      flex-direction: column;
    }

    &__text {
      color: $global-dark-grey;
      margin-right: 72px;

      @media screen and (max-width: $media-lg) {
        margin-right: 43px;
<<<<<<< HEAD
      }

      @media screen and (max-width: $media-md) {
        margin-right: 30px;
      }

      @media screen and (max-width: $media-sm) {
        font-size: 14px;
        margin-right: 48px;
      }

=======
      }

      @media screen and (max-height: 768px) {
        font-size: 14px;
      }

      @media screen and (max-width: $media-md) {
        margin-right: 30px;
      }

      @media screen and (max-width: $media-sm) {
        font-size: 14px;
        margin-right: 48px;
      }

>>>>>>> d0a2b471f899910d3571923e2ab4485e88c7b873
      @media screen and (max-width: $media-xs) {
        font-size: 10px;
        margin: 0 33px 18px 0;
      }
    }

    &__link {
      display: flex;
      flex-direction: column;
    }

    &__link-text {
      color: $global-black;
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media screen and (max-height: 900px) {
<<<<<<< HEAD
        font-size: 20px;
      }

      @media (max-width: $media-lg-plus) {
        font-size: 20px;
      }

      @media screen and (max-width: $media-lg) {
        font-size: 18px;
      }

=======
        font-size: 20px;
      }

      @media (max-width: $media-lg-plus) {
        font-size: 20px;
      }

      @media screen and (max-height: 768px) {
        font-size: 18px;
      }

      @media screen and (max-width: $media-lg) {
        font-size: 18px;
      }

>>>>>>> d0a2b471f899910d3571923e2ab4485e88c7b873
      @media screen and (max-width: $media-sm) {
        font-size: 15px;
      }

      @media screen and (max-width: $media-xs) {
        font-size: 14px;
        margin: 0 33px 18px 0;
      }
    }
  }
}
