.modal-wrapper {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 721px auto;
  box-shadow: 0 15px 34px 9px rgba(0, 0, 0, 0.15);
  display: none;
  height: 1080px;
  left: 50%;
  margin-left: -361px;
  max-width: 722px;
  overflow: auto;
  padding-bottom: 80px;
  position: absolute;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: $media-sm) {
    background-size: 320px auto;
    height: 550px;
    margin-left: -152px;
    max-width: 320px;
  }
}

.modal-content {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.close {
  cursor: pointer;
  display: none;
  height: 50px;
  left: 50%;
  position: absolute;
  width: 50px;
  z-index: 1;

  @media screen and (max-width: $media-sm) {
    height: 30px;
    width: 30px;
  }
}
