.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
  padding-top: 66px;

  @media screen and (max-width: $media-md) {
    margin-bottom: 50px;
    padding: 0;
    padding-top: 100px;
  }

  @media screen and (max-width: $media-sm) {
    margin-bottom: 20px;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: $media-md) {
      flex-basis: 100%;
    }
  }

  &__logo {
    color: #000;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    height: 18px;
    margin-right: 95px;
    width: 107px;

    @media screen and (max-width: $media-md) {
      display: none;
    }

    &--gallery {
      @media screen and (max-width: $media-lg) {
        margin-right: 66px;
      }
    }
  }

  &__caption {
    margin-bottom: 0;

    @media screen and (max-width: $media-md) {
      font-size: 24px;
      margin-right: 30px;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  &__categories {
    // margin-right: -100px;
  }

  // модификаторы
  &--article-inner {
    justify-content: flex-start;

    @media screen and (max-width: $media-md) {
      justify-content: space-between;
      margin-bottom: 40px;
      padding-top: 100px;
    }
  }

  &--gallery-inner {
    justify-content: flex-start;

    @media screen and (max-width: $media-xs) {
      justify-content: space-between;
    }
  }
}
