.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 20px;
  margin-bottom: 65px - 20px;

  @media (min-width: $media-xxl) {
    padding-top: 88px;
    margin-bottom: 88px - 20px;
  }

  @media (max-width: $media-xl-plus) {
    padding-top: 45px;
    margin-bottom: 45px - 20px;
  }

  @media screen and (max-width: $media-sm) {
    margin-bottom: 0;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @include hide-on-menu-hover;

    @media screen and (max-width: $media-lg) {
      flex-basis: 100%;
      // margin-bottom: 30px;
    }
  }

  &__logo {
    color: #000;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-right: 95px;
    width: 107px;

    @media screen and (max-width: $media-md) {
      display: none;
    }

    &--gallery {
      @media screen and (max-width: $media-lg) {
        margin-right: 66px;
      }
    }
  }

  &__caption {
    margin-bottom: 0;

    @media screen and (max-width: $media-md) {
      font-size: 24px;
      // margin-right: 30px;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  // модификаторы
  &--part {
    justify-content: flex-start;
  }
  
  &--article-inner {
    justify-content: flex-start;

    @media screen and (max-width: $media-md) {
      justify-content: space-between;
      margin-bottom: 40px;
      padding-top: 100px;
    }
  }

  &--gallery-inner {
    justify-content: flex-start;

    @media screen and (max-width: $media-xs) {
      justify-content: space-between;
    }
  }

  &--about-me {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  &--about-form {
    margin-bottom: 110px;
    max-width: 370px;
    padding-top: 0;
  }
  &--contacts {
    margin-bottom: 120px;
    max-width: 370px;

    @media screen and (max-width: $media-xl-plus) {
      margin-bottom: 70px;
    }

    @media screen and (max-width: $media-lg) {
      margin-bottom: 65px;
      max-width: 285px;
      z-index: 12;
    }

    @media screen and (max-width: $media-md) {
      margin-bottom: 65px;

      span {
        display: none;
      }
    }

    @media screen and (max-width: $media-sm) {
      max-width: 365px;
      padding: 0;
      padding-top: 40px;
      z-index: 1;
    }

    @media screen and (max-width: $media-xs) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      max-width: 430px;
      padding-left: 20px;
    }
  }
}

.header--slideSix {
  display: none;
  justify-content: flex-start;
  margin-bottom: 0;

  .header__after {
    background-color: #f7f7f7;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;

    @media screen and (max-width: $media-lg) {
      height: 140px;
      right: 10px;
      width: 49%;
      z-index: 10;
    }

    @media screen and (max-width: $media-md) {
      width: 47%;
    }

    @media screen and (max-width: $media-sm) {
      display: none;
    }
  }
}
