.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
  padding-top: 66px;

  @media screen and (max-width: $media-md) {
    margin-bottom: 50px;
    padding: 0;
    padding-top: 100px;
  }

  @media screen and (max-width: $media-sm) {
    margin-bottom: 20px;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: $media-md) {
      flex-basis: 100%;
    }
  }

  &__logo {
    color: #000;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    height: 18px;
    margin-right: 95px;
    width: 107px;

    @media screen and (max-width: $media-md) {
      display: none;
    }

    &--gallery {
      @media screen and (max-width: $media-lg) {
        margin-right: 66px;
      }
    }
  }

  &__caption {
    margin-bottom: 0;

    @media screen and (max-width: $media-md) {
      font-size: 24px;
      margin-right: 30px;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  &__categories {
    // margin-right: -100px;
  }

  // модификаторы
  &--article-inner {
    justify-content: flex-start;

    @media screen and (max-width: $media-md) {
      justify-content: space-between;
      margin-bottom: 40px;
      padding-top: 100px;
    }
  }

  &--gallery-inner {
    justify-content: flex-start;

    @media screen and (max-width: $media-xs) {
      justify-content: space-between;
    }
  }

  &--about-me {
    justify-content: flex-start;
    margin-bottom: 0;

    // margin-bottom: 259px;

    // @media (min-width: 786px) and (max-width: 1199px) {
    //   margin-bottom: 130px;
    // }

    // @media screen and (max-width: 768px) {
    //   margin-bottom: 27px;
    // }
  }

  &--slideSix {
    display: none;
    justify-content: flex-start;
    margin-bottom: 0;

    .header__after {
      background-color: #f7f7f7;
      height: 50%;
      position: absolute;
      right: 0;
      top: 0;
      width: 51vw;
      z-index: -1;

      @media screen and (max-width: $media-sm) {
        display: none;
      }
    }
  }
}
