a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style-type: none;
}

svg {
  display: block;
  fill: currentColor;
  height: 100%;
  width: 100%;
}

button {
  border: none;
  font-family: inherit;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.img-cover {
  object-fit: cover;
}

.img-overlay {
  position: relative;

  &::after {
    background-color: #000;
    box-shadow: 0 8px 23px 3px rgba(0, 0, 0, 0.05);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container-full {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1560px;
  padding-left: 120px;
  padding-right: 220px;
  width: auto;

  @media screen and (max-width: $media-xl-plus) {
    padding-left: 30px;
    padding-right: 160px;
  }

  @media screen and (max-width: $media-lg) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (max-width: $media-md) {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 120px;
  width: auto;

  @media (min-width: $media-sm) and (max-width: $media-lg) {
    box-sizing: border-box;
    padding: 0 10px;
  }

  @media screen and (max-width: $media-sm) {
    padding: 0 15px;
  }

  &--contacts {
    @media (max-width: $media-xl-plus) {
      padding: 0 125px 0 100px;
    }

    @media screen and (max-width: $media-lg) {
      padding: 0 0 0 20px;
    }

    @media screen and (max-width: $media-sm) {
      padding: 0;
    }
  }

  &--about-me {
    @media screen and (max-width: $media-lg) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media screen and (max-width: $media-md) {
      box-sizing: border-box;
      padding: 0 20px;
    }
  }

  &--about-content {
    @media screen and (max-width: $media-md) {
      padding: 0 20px 0 0;
    }
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

// Для демонстрации страниц. Под конец это удалим. ПОКА НЕ ТРОГАТЬ !!!:)
ul.p-list {
  padding-left: 60px;
  padding-top: 60px;

  li {
    font-size: 24px;
    font-weight: 400;
    list-style-type: disc;
    margin-bottom: 16px;
  }
}

.index-page {
  overflow: hidden;
}

.index-slider {
  overflow: hidden;
}
// ===================================================================
