a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style-type: none;
}

svg {
  display: block;
  fill: currentColor;
  height: 100%;
  width: 100%;
}

button {
  border: none;
  font-family: inherit;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-cover {
  object-fit: cover;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container-full {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1560px;
  padding-left: 120px;
  padding-right: 220px;
  width: auto;

  @media screen and (max-width: $media-mobile) {
    padding: 0 10px;
  }
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 125px;
  width: auto;

  @media screen and (max-width: 768px) {
    padding: 0;
  }

  &--contacts {
    @media (max-width: $media-lg-plus) {
      padding: 0 125px 0 100px;
    }

    @media screen and (max-width: $media-mobile) {
      padding: 0;
    }
  }
}

.hidden {
  display: none;
}

// Для демонстрации страниц. Под конец это удалим. ПОКА НЕ ТРОГАТЬ !!!:)
ul.p-list {
  padding-left: 60px;
  padding-top: 60px;

  li {
    font-size: 24px;
    font-weight: 400;
    list-style-type: disc;
    margin-bottom: 16px;
  }
}
// ===================================================================

.rev-achiev-page {
  overflow-y: hidden;

  main {
    align-items: flex-start;
    display: flex;
  }
}
