.gallery-inner {
  margin: 0 auto;

  &-info {
    align-items: center;
    // cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;

    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
    }

    .info__title {
      font-size: 30px;
      font-weight: 700;

      @media screen and (min-width: 786px) and (max-width: 1199px) {
        font-size: 24px;
      }

      @media screen and (max-width: $media-md) {
        max-width: 312px;
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
        max-width: 236px;
      }
    }

    .info__likes {
      margin-left: 20px;
    }
  }

  &-item {
    background-color: $global-light-grey;
    height: auto;
    margin-bottom: 40px;
    max-width: 360px;

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    @media (min-width: 786px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
      width: 145px;
    }
  }

  .gallery-item__hover {

    .hover__wrapper {
      height: 100%;
      position: relative;

      background-image: url("/images/content/gallery-page/zoom.svg");
      background-size: 53px 50px;
      background-repeat: no-repeat;
      background-position: center;

      @media (max-width: $media-xl-plus) {
        background-size: 38px 36px;
      }
      @media (max-width: $media-xl-plus) {
        background-size: 38px 36px;
      }

      @media (min-width: $media-xxl) {
        background-size: 72px 68px;
      }

      // &::after {
      //   content: "";
      //   height: 50px;
      //   left: 0;
      //   margin: auto;
      //   margin-top: -25px;
      //   position: absolute;
      //   right: 0;
      //   top: 50%;
      //   vertical-align: middle;
      //   width: 53px;
      //
      // }
    }
  }

  .gallery-item:hover .gallery-item__hover {
    opacity: 1;
  }
}
