.ieromin-form {
  background-color: #f7f7f7;
  height: 100vh;
  width: 50%;
  flex-shrink: 0;

  @media (max-width: $media-lg) {
    width: 40%;
  }

  @media (max-width: $media-md) {
    width: 100%;
    height: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 22.5%;
    padding-right: 14%;

    @media (min-width: $media-xxl) {
      padding-bottom: 138px;
    }

    @media (max-width: $media-xl), (max-height: 850px) {
    }

    @media (max-width: $media-lg) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: $media-md) {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 35px;
      padding-top: 35px;
    }
  }

  &__group {
    // padding-left: 170px;
    // padding-right: 170px;

    // @media (max-width: $media-md) {
    //   padding-left: 0;
    //   padding-right: 0;
    // }
    margin-top: auto;
    margin-bottom: auto;

    @media (min-width: $media-xxl) {
    }
  }

  &__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    // margin-bottom: 130px;
    // text-align: center;

    @media (max-width: $media-md) {
      font-size: 12px;
      margin-bottom: 30px;
    }

    @media (min-width: $media-xxl) {
      font-size: 32px;
      margin-bottom: 0;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: $media-md) {
        margin-bottom: 14px;
      }

      @media (min-width: $media-xxl) {
        margin-bottom: 54px;
      }
    }

    label {
      display: block;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;

      @media (max-width: $media-md) {
        font-size: 10px;
        margin-bottom: 4px;
      }

      @media (min-width: $media-xxl) {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }
  }

  &__input {
    background-color: #fff;
    border: 1px solid transparent;
    height: 70px;
    padding: 0 8px;

    @media (max-width: $media-md) {
      height: 40px;
    }

    @media (min-width: $media-xxl) {
      height: 92px;
    }

    @media (max-width: $media-xl), (max-height: 850px) {
      height: 50px;
    }

    @media (max-width: $media-lg) {
    }
  }

  &__textarea {
    background-color: #fff;
    border: 1px solid transparent;
    font-family: inherit;
    min-height: 134px;
    padding: 8px;
    resize: none;

    @media (max-width: $media-md) {
      min-height: 40px;
    }

    @media (max-width: $media-xl), (max-height: 850px) {
      min-height: 96px;
    }

    @media (max-width: $media-lg) {
    }
  }

  &__submit {
    width: 240px;
    margin-left: auto;

    @media (max-width: $media-xl), (max-height: 850px) {
      width: 170px;
    }

    @media (min-width: $media-xxl) {
      width: 320px;
    }

    @media (max-width: $media-md) {
      width: 100%;
      max-width: 100%;
    }
  }
}
