.video {
  height: auto;
  // width: 100%;

  picture {
    width: 100%;
  }

  .img-overlay:after {
    transition: .3s opacity;
  }

  &:hover {
    .img-overlay:after {
      opacity: 0.2;
    }

    .video__play-icon {
      transform: translateX(-50%) translateY(-50%) scale3d(1.2, 1.2, 1);
    }
  }

  &__image-wrapper {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    height: auto;
    justify-content: center;
    position: relative;
    // width: 643px;

    @media (max-width: $media-lg) {
      // max-width: 500px;
    }

    @media (max-width: $media-sm) {
      // display: block;
      // width: 100%;
    }

    @media (max-width: $media-xs) {
      // display: block;
      display: flex;
    }
  }

  &__play-icon {
    box-shadow: 0 8px 23px 3px rgba(0, 0, 0, 0.05), 0 0 29px 7px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    height: 88px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70px;
    z-index: 1;
    transition: .3s transform;

    @media (max-width: $media-xs) {
      height: 36px;
      width: 30px;
    }
  }
}
