.about-me-page {
  // height: 100%;
  overflow: hidden;
  // overflow: auto;
}

.about-me-slider-wrap {
  align-items: flex-start;
  display: flex;

  .about-me__slider-bullets {
    display: flex;
    flex-direction: column;
    max-width: 76px;

    li {
      background-color: transparent;
      border: 2px solid #000;
      height: 14px;
      width: 14px;

      &:first-child {
        display: none;
      }

      @media screen and (max-width: $media-lg) {
        height: 13px;
        width: 13px;
      }

      &:not(:last-child) {
        margin-bottom: 55px;

        @media screen and (max-width: $media-xl-plus) {
          margin-bottom: 40px;
        }

        @media screen and (max-width: $media-lg) {
          margin-bottom: 36px;
        }

        @media screen and (max-width: $media-md) {
          margin-bottom: 30px;
        }
      }

      &:last-child {
        margin-bottom: 92px;

        @media screen and (max-width: $media-xl-plus) {
          margin-bottom: 65px;
        }

        @media screen and (max-width: $media-lg) {
          margin-bottom: 50px;
        }

        @media screen and (max-width: $media-md) {
          margin-bottom: 40px;
        }
      }

      &.slick-active {
        background-color: #000;
      }

      button {
        cursor: pointer;
        font-size: 0;
      }
    }
  }

  .about-me__slider {
    padding-left: 120px;
    padding-right: 180px;

    @media screen and (max-width: 1200px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .about-me__slider-controls {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 120px;
    max-width: 76px;
    padding-top: 200px;

    @media screen and (max-width: $media-xl-plus) {
      margin-right: 40px;
      padding-top: 140px;
    }

    @media screen and (max-width: 1200px) {
      margin-right: 32px;
    }

    @media screen and (max-width: $media-lg) {
      margin-right: 40px;
    }

    @media screen and (max-width: $media-md) {
      margin-right: 15px;
      padding-top: 80px;
    }
  }

  .about-me__slider-swap {
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    padding: 2px;
    text-transform: uppercase;
    width: 76px;
  }
}
