.about-me-page {
  overflow: hidden;
}

.about-me-slider-wrap {
  align-items: flex-start;
  display: flex;

  .about-me__slider-bullets {
    display: flex;
    flex-direction: column;
    max-width: 76px;

    li {
      background-color: transparent;
      border: 2px solid #000;
      height: 14px;
      width: 14px;

      &:first-child {
        display: none;
      }

      @media screen and (max-width: $media-lg) {
        height: 13px;
        width: 13px;
      }

      &:not(:last-child) {
        margin-bottom: 55px;

        @media screen and (max-width: $media-xl-plus) {
          margin-bottom: 40px;
        }

        @media screen and (max-width: $media-lg) {
          margin-bottom: 36px;
        }

        @media screen and (max-width: $media-md) {
          margin-bottom: 30px;
        }
      }

      &:last-child {
        margin-bottom: 92px;

        @media screen and (max-width: $media-xl-plus) {
          margin-bottom: 65px;
        }

        @media screen and (max-width: $media-lg) {
          margin-bottom: 50px;
        }

        @media screen and (max-width: $media-md) {
          margin-bottom: 40px;
        }
      }

      &.slick-active {
        background-color: #000;
      }

      button {
        cursor: pointer;
        font-size: 0;
      }
    }
  }

  .about-me__slider {
    padding-left: 120px;
    padding-right: 180px;

    @media screen and (max-width: 1200px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .about-me__slider-controls {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 120px;
    max-width: 76px;
    padding-top: 200px;

    @media screen and (max-width: $media-xl-plus) {
      margin-right: 40px;
      padding-top: 140px;
    }

    @media screen and (max-width: 1200px) {
      margin-right: 32px;
    }

    @media screen and (max-width: $media-lg) {
      margin-right: 40px;
    }

    @media screen and (max-width: $media-md) {
      margin-right: 15px;
      padding-top: 80px;
    }
  }

  .about-me__slider-swap {
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    padding: 2px;
    text-transform: uppercase;
    width: 76px;
  }
}

.about-me__fake-slider {
  align-self: flex-end;
  bottom: 0;
  display: none;
  flex-direction: column;
  height: 265px;
  left: 120px;
  position: absolute;
  width: 10%;

  .fake-slider__slider-swap {
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    margin-bottom: 80px;
    padding: 2px;
    text-transform: uppercase;
    width: 76px;
  }

  .fake-slider__arrow {
    background: url(../images/icons/arrow.svg) no-repeat;
    background-size: auto;
    display: block;
    height: 109px;
    width: 10px;
  }
}

.caption__text {
  background: url(../images/icons/citizen-text.svg) no-repeat;
  background-size: auto;
  height: 240px;
  left: 120px;
  position: absolute;
  top: 385px;
  width: 741px;
  z-index: 1;

  @media screen and (max-width: 1600px) {
    background-size: 527px 215px;
  }

  // @media screen and (max-width: $media-xl-plus) {
  //   background-size: 193px 11px;
  //   top: 98px;
  // }

  // @media screen and (max-width: $media-lg) {
  //   background-size: 181px 11px;
  //   top: 89px;
  // }

  // @media screen and (max-width: $media-md) {
  //   background-size: 144px 10px;
  //   left: 13px;
  //   top: 59px;
  // }
}
