.citizen {
  display: flex !important;
  justify-content: space-between;
  height: 100vh;
  width: 100%;

  .citizen-wrap {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
   
    .citizen-wrap__photo {
      .photo-img {
        display: block;
        height: auto;
        width: 100%;
        // max-width: 1320px;
      } 
    }
  }

  .about-me__fake-slider {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    height: 215px;
    width: 15%;

    .fake-slider__slider-swap {
      background-color: #000;
      border: 0;
      color: #fff;
      cursor: pointer;
      // display: none;
      display: inline-block;
      font-size: 9px;
      font-weight: 500;
      margin-bottom: 80px;
      padding: 2px;
      text-transform: uppercase;
      width: 76px;
    }

    .fake-slider__arrow {
      background: url(../images/icons/arrow.svg) no-repeat;
      background-size: auto;
      display: block;
      height: 109px;
      width: 10px;
    }
  }
  // &__title {
  //   max-width: 741px;

  //   .title__text {
  //     padding-top: 260px;
  //   }

  //   .text__main {
  //     font-size: 180px;

  //     @media screen and (max-width: $media-lg) {
  //       font-size: 30px;
  //     }

  //     span {
  //       color: $global-white;
  //     }
  //   }

  //   .text__minor {
  //     font-size: 91px;

  //     @media screen and (max-width: $media-lg) {
  //       font-size: 20px;
  //     }

  //     span {
  //       color: #fff;
  //     }
  //   }
  // }
}
