.slider-item__citizen-wrap {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;

  &::after {
    background: url("../images/content/cover/planet.png") no-repeat;
    background-size: auto;
    content: "";
    height: auto;
    height: 100%;
    margin-left: 479px;
    // margin-left: 24%;
    max-width: 1320px;
    position: absolute;
    right: 0;
    top: 16%;
    width: 100%;
  }

  // .citizen-wrap__photo-part {
  // display: flex;
  // justify-content: flex-end;
  // max-width: 1320px;

  // .photo {
  //   height: auto;
  //   width: 100%;

  //   @media screen and (max-width: 1600px) {
  //     width: 95%;
  //   }
  // }
  // }
}
