.citizen {
  height: 100%;
  margin-bottom: 60px;
  width: 100%;

  &__title {
    max-width: 741px;

    .text__main {
      font-size: 180px;

      span {
        color: $global-white;
      }
    }

    .text__minor {
      font-size: 91px;

      span {
        color: #fff;
      }
    }
  }

  &__back {
    bottom: 66px;
    position: absolute;
    right: 120px;
    z-index: -1;

    &____image {
      height: auto;
      width: 1320px;
    }
  }
}
