$bulletsHeight: 284px;

.slider-item {
  align-items: flex-start;
  display: flex !important; //костыль, но не убирать:) иначе slick переписывает на inline-block
  height: 100vh;
  overflow: auto;

  .slider-item__text-part {
    width: 50%;
    padding-left: 200px;

    @media (min-width: $media-xxl) {
      padding-left: 260px;
    }

    @media (max-width: $media-xl-plus) {
      padding-left: 144px;
    }

    &-text {
      width: 100%;
      max-width: 378px;
      margin-top: -.4em;
      padding-top: calc((100vh - #{$bulletsHeight}) / 2);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: none;

      p:first-of-type {
        margin-bottom: 20px;
      }

      @media (max-width: $media-xl-plus), (max-height: 850px) {
        max-width: 325px;
        font-size: 13px;
        line-height: 21px;
        // padding-top: 165px;
      }

      @media (max-width: $media-lg) {
        max-width: 300px;
        padding-top: 157px;
      }

      @media (max-width: $media-md) {
        font-size: 12px;
        max-width: 260px;
        padding-top: 86px;
      }

    }
  }

  .slider-item__photo-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-right: 120px;
    padding-top: 100px;
    padding-bottom: 100px;

    &-img {
      max-width: 721px;
    }

    @media (max-width: $media-xl-plus), (max-height: 850px) {
      padding-top: 58px;
      padding-bottom: 58px;
    }

    @media (max-width: $media-xl-plus) {
      padding-right: 85px;
    }

    @media (max-width: $media-lg) {
      padding-right: 0;
      padding-top: 90px;
      padding-bottom: 90px;
      width: 38%;
      margin-left: auto;
    }

    @media (max-width: $media-md) {
      padding: 0;
    }

    @media (min-width: $media-xxl) {
      padding-right: 160px;
    }

    .photo {
      display: block;
      height: auto;
      width: 100%;
    }

    .photo-sub {
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-transform: none;
      width: 100%;

      &:first-of-type {
        margin-top: 50px;

        @media (max-width: $media-xl-plus), (max-height: 850px) {
          margin-top: 35px;
        }

        @media (max-width: $media-lg) {
        }

        @media (max-width: $media-md) {
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-bottom: auto;
      }

      @media (max-width: $media-xl-plus), (max-height: 850px) {
        margin-bottom: 18px;
        font-size: 13px;
        line-height: 21px;
      }
    }
  }
}
