.slider-item {
  align-items: flex-start;
  display: flex !important; //костыль, но пока не убирать:)
  justify-content: space-around;
  width: 100%;

  @media screen and (max-width: $media-md) {
    justify-content: space-between;
  }

  &__text-part {
    width: 40%;

    @media screen and (max-width: $media-md) {
      width: 40%;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      max-width: 378px;
      padding-top: 197px;
      text-transform: none;
      width: 100%;

      p:first-of-type {
        margin-bottom: 20px;
      }

      @media screen and (max-width: $media-xl-plus) {
        max-width: 325px;
        padding-top: 165px;
      }

      @media screen and (max-width: $media-lg) {
        font-size: 14px;
        max-width: 300px;
        padding-top: 157px;
      }

      @media screen and (max-width: $media-md) {
        font-size: 12px;
        padding-top: 86px;
      }

      &--slide2 {
        @media screen and (max-width: $media-lg) {
          max-width: 300px;
        }
      }

      &--slide3 {
        @media screen and (max-width: $media-xl-plus) {
          padding-top: 148px;
        }

        @media screen and (max-width: $media-md) {
          padding-top: 15px;
        }
      }

      &--slide4 {
        max-width: 448px;

        @media screen and (max-width: $media-xl-plus) {
          padding-top: 148px;
        }

        @media screen and (max-width: $media-lg) {
          max-width: 320px;
        }

        @media screen and (max-width: $media-md) {
          padding-top: 45px;
        }
      }

      &--slide5 {
        max-width: 435px;

        @media screen and (max-width: $media-xl-plus) {
          padding-top: 100px;
        }

        @media screen and (max-width: $media-lg) {
          max-width: 320px;
        }

        @media screen and (max-width: $media-md) {
          padding-top: 15px;
        }

        p:first-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &__photo-part {
    height: 100vh;
    width: 55%;

    @media screen and (max-width: $media-lg) {
      margin-right: 150px;
    }

    @media screen and (max-width: $media-md) {
      margin-right: 0;
      width: 55%;
    }

    &-img {
      max-width: 721px;
    }

    .photo {
      display: block;
      height: auto;
      padding-top: 100px;
      width: 100%;

      @media screen and (max-width: $media-xl-plus) {
        padding-top: 58px;
      }

      @media screen and (max-width: $media-lg) {
        padding-top: 90px;
      }

      @media screen and (max-width: $media-md) {
        padding-top: 0;
      }

      &--slide3 {
        padding-top: 105px;

        @media screen and (max-width: $media-md) {
          padding-top: 17px;
        }
      }

      &--slide2,
      &--slide4 {
        margin-bottom: 35px;
        padding-top: 0;

        @media screen and (max-width: $media-xl-plus) {
          margin-bottom: 10px;
        }

        @media screen and (max-width: $media-md) {
          margin-bottom: 10px;
        }
      }

      &--slide5 {
        @media screen and (max-width: $media-md) {
          padding-top: 50px;
        }
      }
    }

    .photo-sub {
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-transform: none;
      width: 100%;

      &:first-of-type {
        margin-bottom: 20px;

        @media screen and (max-width: $media-xl-plus) {
          margin-bottom: 0;
        }

        @media screen and (max-width: $media-md) {
          margin-bottom: 0;
        }
      }

      @media screen and (max-width: $media-xl-plus) {
        font-size: 12px;
      }
    }
  }
}
