.slider-item {
  align-items: flex-start;
  display: flex !important; //костыль, но не убирать:) иначе slick переписывает на inline-block
}

.slider-item__thanks-part {
  float: left;
  height: 100vh;
  position: relative;
  width: 45%;
}

.thanks-part-wrap {
  padding-top: 128px;

  @media screen and (max-width: $media-xl-plus) {
    padding-top: 120px;
  }

  @media screen and (max-width: $media-lg) {
    padding-top: 100px;
  }

  @media screen and (max-width: $media-md) {
    padding-top: 90px;
  }
}

.thanks-part__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  width: 100%;

  @media screen and (max-width: $media-xl-plus) {
    font-size: 14px;
  }

  @media screen and (max-width: $media-lg) {
    font-size: 12px;
  }

  @media screen and (max-width: $media-md) {
    max-width: 298px;
  }
}

.thanks-part__caption {
  background-color: $global-black;
  height: 181px;
  margin-bottom: 59px;
  position: relative;
  width: 268px;

  @media screen and (max-width: 1600px) {
    height: 161px;
    width: 248px;
  }

  @media screen and (max-width: $media-xl-plus) {
    height: 131px;
    margin-bottom: 45px;
    width: 218px;
  }

  @media screen and (max-width: $media-lg) {
    height: 121px;
    margin-bottom: 25px;
    width: 208px;
  }

  @media screen and (max-width: $media-md) {
    height: 80px;
    margin-bottom: 15px;
    width: 167px;
  }

  .caption__text {
    background: url(../images/icons/thank-you.svg) no-repeat;
    background-size: auto;
    height: 53px;
    left: 0;
    position: absolute;
    top: 57px;
    width: 447px;
    z-index: 1;

    @media screen and (max-width: 1600px) {
      background-size: 407px 53px;
      top: 40px;
    }

    @media screen and (max-width: $media-xl-plus) {
      background-size: 359px 48px;
      top: 31px;
    }

    @media screen and (max-width: $media-lg) {
      background-size: 342px 44px;
      top: 25px;
    }

    @media screen and (max-width: $media-md) {
      background-size: 275px 32px;
      top: 14px;
    }
  }

  .caprion-word {
    background: url(../images/icons/viewing.svg) no-repeat;
    background-size: auto;
    background-size: 181px 11px;
    height: 13px;
    left: 21px;
    position: absolute;
    top: 138px;
    width: 227px;
    z-index: 1;

    @media screen and (max-width: 1600px) {
      background-size: 215px 12px;
      left: 16px;
      top: 122px;
    }

    @media screen and (max-width: $media-xl-plus) {
      background-size: 193px 11px;
      top: 98px;
    }

    @media screen and (max-width: $media-lg) {
      background-size: 181px 11px;
      top: 89px;
    }

    @media screen and (max-width: $media-md) {
      background-size: 144px 10px;
      left: 13px;
      top: 59px;
    }
  }
}

.text-one {
  margin-bottom: 119px;
  max-width: 403px;

  @media screen and (max-width: $media-xl-plus) {
    margin-bottom: 55px;
    max-width: 357px;
  }

  @media screen and (max-width: $media-md) {
    margin-bottom: 30px;
  }
}

.text-two__items {
  background-image: url(../images/icons/quote.svg);
  background-repeat: no-repeat;
  background-size: 37px 37px;
  font-size: 18px;
  font-weight: 300;
  height: auto;
  line-height: 20px;
  padding-left: 78px;
  text-transform: initial;

  @media screen and (max-width: 1600px) {
    padding-left: 59px;
  }

  @media screen and (max-width: $media-xl-plus) {
    background-size: 32px 32px;
    font-size: 14px;
    max-width: 365px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
  }

  @media screen and (max-width: $media-md) {
    background-size: 30px 30px;
  }

  .text-two__items-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 397px;
    text-transform: none;
    width: 100%;

    @media screen and (max-width: $media-xl-plus) {
      font-size: 14px;
    }

    @media screen and (max-width: $media-lg) {
      font-size: 12px;
    }
  }
}
