.form-part {
  background-color: $bg-color;
  height: 100vh;
  position: relative;
  width: 50%;
  z-index: 11;

  @media (max-width: $media-lg) {
    width: 38%;
    margin-left: auto;
  }

  @media (max-width: $media-sm) {
    width: 100%;
  }
}
