.btn {
  @include btn-default;

  box-sizing: border-box;
  max-width: 240px;
  text-align: left;
  text-transform: uppercase;
  flex-shrink: 0;

  span {
    padding-left: 30px;
    // padding-right: calc((100% - 30px) / 3);
    padding-right: 30%;
  }

  @media (max-width: $media-xl-plus), (max-height: 850px) {
    span {
      padding-left: 20px;
      // padding-right: calc((100% - 20px) / 3);
    }
  }

  @media (max-width: $media-lg) {
    max-width: 170px;
  }

  @media (max-width: $media-md) {
    max-width: 185px;
  }

  @media (max-width: $media-sm) {
    max-width: 100%;
  }

  @media (min-width: $media-xxl) {
    span {
      padding-left: 40px;
    }
  }

  &--indent {
    width: 240px;
    margin-left: auto;

    @media (max-width: $media-xl-plus), (max-height: 850px) {
      height: 50px;
      width: 200px;
    }

    @media (max-width: $media-md) {
      width: 170px;
    }

    @media (max-width: $media-xs) {
      // height: 50px;
      margin-bottom: 35px;
      // padding: 18px 30px;
      width: 100%;
      max-width: 100%;
    }
  }

  &--gallery {
    width: 240px;

    @media (max-width: $media-md) {
      width: 185px;
    }

    @media (max-width: $media-sm) {
      width: 150px;
    }
  }

  &--inner-blog {
    min-width: 240px;
  }

  &--category {
    max-width: unset;
  }

  &--about {
    margin-right: 120px;
    width: 240px;
    transition-property: box-shadow, opacity;

    // &.hidden {
    opacity: 0;
    pointer-events: none;
    // }

    @media (max-width: 1200px) {
      margin-right: 0;
    }

    @media (max-width: $media-sm) {
      display: none;
    }
  }
}
