.btn {
  @include btn-default;

  box-sizing: border-box;
  padding: 20px 30px;
  text-align: left;
  text-transform: uppercase;

  @media screen and (max-width: $media-lg) {
    max-width: 100%;
  }

  @media screen and (max-width: $media-md) {
    max-width: 185px;
  }

  @media screen and (max-width: $media-sm) {
    max-width: 160px;
  }

  &--indent {
    float: right;
    width: 240px;

    @media (max-width: $media-xl-plus) {
      height: 50px;
      width: 200px;
    }

    @media screen and (max-width: $media-md) {
      height: 50px;
      width: 170px;
    }

    @media screen and (max-width: $media-xs) {
      height: 50px;
      margin-bottom: 35px;
      padding: 18px 30px;
      width: 270px;
    }
  }

  &--gallery {
    max-width: 240px;

    @media screen and (max-width: $media-md) {
      max-width: 185px;
    }

    @media screen and (max-width: $media-sm) {
      max-width: 151px;
    }
  }

  &--inner-blog {
    max-width: 240px;
  }
}
