.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__article {
    &:nth-child(odd) {
      margin-right: 40px;

      @media screen and (max-width: $media-mobile) {
        margin-right: 0;
      }
    }

    margin-bottom: 100px;

    @media screen and (max-width: $media-mobile) {
      margin-bottom: 80px;
    }
  }
}
