@font-face {
  font-family: GothamPro;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothamPro/GothamPro-Regular.woff") format("woff");
}

@font-face {
  font-family: GothamPro;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: GothamPro;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff");
}
