@font-face {
  font-family: GothamPro;
  font-style: normal;
  font-weight: 400;
  src: url("../../static/fonts/GothamPro/GothamPro.woff2") format("woff2"), url("../../static/fonts/GothamPro/GothamPro.woff") format("woff");
}

@font-face {
  font-family: GothamPro;
  font-style: normal;
  font-weight: 500;
  src: url("../../static/fonts/GothamPro/GothamPro-Medium.woff2") format("woff2"), url("../../static/fonts/GothamPro/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: GothamPro;
  font-style: normal;
  font-weight: 700;
  src: url("../../static/fonts/GothamPro/GothamPro-Black.woff2") format("woff2"), url("../../static/fonts/GothamPro/GothamPro-Black.woff") format("woff");
}
