@font-face {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/GothamPro.woff") format("woff2"),
    url("../fonts/GothamPro.woff") format("woff");
}

@font-face {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/GothamPro-Black.woff") format("woff2"),
    url("../fonts/GothamPro-Black.woff") format("woff");
}

@font-face {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/GothamPro-Medium.woff") format("woff"),
    url("../fonts/GothamPro-Medium.woff") format("woff2");
}
