// Colors
$global-black: #000;
$global-dark-grey: #525252;
$global-light-grey: #d9d9d9;
$global-white: #fff;
$bg-color: #f7f7f7;
$tag-color: #f7f7f7;
$menu-link-color: rgb(136, 135, 135);
$white: #fff;

$main-font: "GothamPro", "Arial", sans-serif;

//Media queries;
$media-xl-plus: (1400px);
$media-lg: (1199px);
$media-md: (991px);
$media-sm: (767px);
$media-xs: (575px);
