// Colors
$global-black: #000;
$global-dark-grey: #525252;
$global-light-grey: #d9d9d9;
$global-white: #fff;
$bg-color: #f7f7f7;

//Media queries;
$mediaTablet: (max-width: 1200px);
$mediaTabletMobile: (min-width: 786px) and (max-width:1199px);
$mediaMobile: (max-width: 767px);

