// Colors
$global-black: #000;
$global-dark-grey: #525252;
$global-light-grey: #d9d9d9;
$global-white: #fff;
$bg-color: #f7f7f7;
$tag-color: #f7f7f7;
$menu-link-color: rgb(136, 135, 135);
$white: #fff;

$main-font: "GothamPro", "Arial", sans-serif;

//Media queries;
//desktop
$media-xxl: (1921px);
$media-xl: (1600px);
$media-xl-plus: (1400px);
$media-lg: (1199px);
// tablet
$media-md: (991px);
$media-sm: (767px);
//mobile
$media-xs: (575px);

$cursor-default: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MSIgaGVpZ2h0PSI0MSIgdmlld0JveD0iMCAwIDQxIDQxIj4KICA8ZmlsdGVyIGlkPSJkcm9wc2hhZG93IiBoZWlnaHQ9IjQxcHgiPgogICAgPGZlR2F1c3NpYW5CbHVyIGluPSJTb3VyY2VBbHBoYSIgc3RkRGV2aWF0aW9uPSIyIi8+CiAgICA8ZmVPZmZzZXQgZHg9IjAiIGR5PSIwIiByZXN1bHQ9Im9mZnNldGJsdXIiLz4KICAgIDxmZUNvbXBvbmVudFRyYW5zZmVyPgogICAgICA8ZmVGdW5jQSB0eXBlPSJsaW5lYXIiIHNsb3BlPSIwLjM1Ii8+CiAgICA8L2ZlQ29tcG9uZW50VHJhbnNmZXI+CiAgICA8ZmVNZXJnZT4gCiAgICAgIDxmZU1lcmdlTm9kZS8+CiAgICAgIDxmZU1lcmdlTm9kZSBpbj0iU291cmNlR3JhcGhpYyIvPgogICAgPC9mZU1lcmdlPgogIDwvZmlsdGVyPgoKICA8Y2lyY2xlIGN4PSIyMC41IiBjeT0iMjAuNSIgcj0iMTUiIGZpbGw9IiMwMDAiICBzdHlsZT0iZmlsdGVyOnVybCgjZHJvcHNoYWRvdykiLz4KPC9zdmc+Cg==";
$cursor-pointer: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MSIgaGVpZ2h0PSI2MSIgdmlld0JveD0iMCAwIDYxIDYxIj4NCiAgPGZpbHRlciBpZD0iZHJvcHNoYWRvdyIgaGVpZ2h0PSI2MXB4Ij4NCiAgICA8ZmVHYXVzc2lhbkJsdXIgaW49IlNvdXJjZUFscGhhIiBzdGREZXZpYXRpb249IjMiLz4NCiAgICA8ZmVPZmZzZXQgZHg9IjAiIGR5PSIwIiByZXN1bHQ9Im9mZnNldGJsdXIiLz4NCiAgICA8ZmVDb21wb25lbnRUcmFuc2Zlcj4NCiAgICAgIDxmZUZ1bmNBIHR5cGU9ImxpbmVhciIgc2xvcGU9IjAuMzUiLz4NCiAgICA8L2ZlQ29tcG9uZW50VHJhbnNmZXI+DQogICAgPGZlTWVyZ2U+IA0KICAgICAgPGZlTWVyZ2VOb2RlLz4NCiAgICAgIDxmZU1lcmdlTm9kZSBpbj0iU291cmNlR3JhcGhpYyIvPg0KICAgIDwvZmVNZXJnZT4NCiAgPC9maWx0ZXI+DQogIDxjaXJjbGUgY3g9IjMwLjUiIGN5PSIzMC41IiByPSIyNSIgZmlsbD0iIzM0ZmZmMyIgb3BhY2l0eT0iMC41IiAgc3R5bGU9ImZpbHRlcjp1cmwoI2Ryb3BzaGFkb3cpIi8+DQo8L3N2Zz4=";
