.article-inner-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 90px;
  min-height: 54px;
  padding-bottom: 140px;

  @media screen and (max-width: $media-md) {
    margin-top: 70px;
    padding-bottom: 60px;
  }
}
