// Внимание!! Спасибо за внимание!
.gallery {
  margin: 0 auto;
  padding-bottom: 40px;
  column-count: 4;
  column-gap: 40px;

  @media (max-width: $media-xl-plus) {
    column-gap: 30px;
  }

  @media (max-width: $media-lg) {
    column-gap: 22px;
  }

  @media (max-width: $media-md) {
    column-count: 3;
    column-gap: 10px;
  }

  @media (max-width: $media-sm) {
    column-count: 2;
  }
  
  @media (min-width: $media-xxl) {
    column-gap: 54px;
    padding-bottom: 54px;
  }

  &-item {
    position: relative;
    background-color: $global-light-grey;
    cursor: pointer;
    height: auto;
    margin-bottom: 40px;
    // max-width: 360px;

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    @media (max-width: $media-xl-plus) {
      margin-bottom: 30px;
    }

    @media (max-width: $media-lg) {
      margin-bottom: 22px;
    }

    @media (max-width: $media-md) {
      margin-bottom: 10px;
    }

    @media (min-width: $media-xxl) {
      margin-bottom: 54px;
    }
  }

  .gallery-item__hover {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: .3s opacity;

    .hover__wrapper {
      color: $global-white;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      font-size: 16px;
      height: 100%;
      justify-content: space-between;
      padding: 35px 40px;

      @media (max-width: 1600px) {
        font-size: 12px;
        padding: 22px 30px;
      }

      @media (max-width: $media-lg) {
        font-size: 12px;
        padding: 16px 20px;
      }

      @media (min-width: $media-xxl) {
        padding: 45px 50px;
        font-size: 21px;
      }

      &__title {
        max-width: 210px;
        margin: 10px 0;

        @media (min-width: 786px) and (max-width: 1199px) {
          max-width: 130px;
        }

        @media (max-width: 768px) {
          max-width: 160px;
        }
      }

      &__year {
        font-weight: 500;
      }

      &__likes {
        font-weight: 400;

        span {
          font-weight: 500;
        }
      }
    }
  }

  .gallery-item:hover .gallery-item__hover {
    opacity: 1;
  }
}
