.contact-wrapper {
  align-items: flex-start;
  display: flex;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.form {
  height: 100vh;
  position: relative;
  width: 50%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__content {
    align-items: center;
    background-color: $bg-color;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    @media screen and (max-width: 768px) {
      height: 100%;
      padding-left: 20px;
    }
  }

  &__header {
    margin-bottom: 146px;
    max-width: 368px;

    @media (min-width: 786px) and (max-width: 1199px) {
      margin-bottom: 135px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 29px;

      span {
        display: none;
      }
    }
  }

  &__wrapper {
    .name,
    .email,
    .text {
      font-size: 16px;
      margin-bottom: 41px;
      width: 530px;

      @media screen and (max-width: $media-lg) {
        width: 440px;
      }

      @media (min-width: 786px) and (max-width: 1199px) {
        width: 335px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 38px;
        width: 270px;
      }

      label {
        display: block;
        margin-bottom: 19px;

        @media screen and (max-width: 768px) {
          font-size: 10px;
          margin-bottom: 10px;
        }
      }
    }

    .name__input,
    .email__input,
    .text__input {
      background-color: $global-white;
      border: none;
      box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.01);
      box-sizing: border-box;
      color: $global-black;
      font-family: inherit;
      font-size: 16px;
      height: 70px;
      padding: 0 20px;
      width: 100%;

      &:focus {
        outline: none;
      }

      @media (min-width: 786px) and (max-width: 1199px) {
        height: 60px;
      }

      @media screen and (max-width: 768px) {
        font-size: 12px;
        height: 40px;
      }
    }

    .text__input {
      height: 134px;
      padding: 20px;
      resize: none;

      @media screen and (max-width: 768px) {
        height: 40px;
      }
    }
  }
}
