.contact-wrapper {
  align-items: flex-start;
  display: flex;

  @media screen and (max-width: $media-sm) {
    display: flex;
    flex-direction: column;
  }
}

.form {
  background-color: $bg-color;
  height: 100vh;
  position: relative;
  width: 50%;

  @media screen and (max-width: $media-sm) {
    width: 100%;
  }

  @media screen and (max-width: $media-xs) {
    padding-left: 20px;
  }

  &__content {
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    width: 100%;

    @media screen and (max-width: $media-xs) {
      align-items: flex-start;
    }
  }

  &__header {
    margin-bottom: 146px;
    max-width: 368px;

    @media screen and (max-width: $media-lg-plus) {
      margin-bottom: 110px;
    }

    @media screen and (max-height: 800px) {
      margin-bottom: 75px;
    }

    @media screen and (max-width: $media-lg) {
      margin-bottom: 95px;
    }

    @media screen and (max-width: $media-md) {
      margin-bottom: 80px;

      span {
        display: none;
      }
    }

    @media screen and (max-width: $media-sm) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: $media-xs) {
      margin-bottom: 29px;
    }
  }

  &__wrapper {
    font-size: 16px;
    width: 530px;

    @media screen and (max-height: 900px) {
      width: 450px;
    }

    @media screen and (max-width: $media-lg-plus) {
      font-size: 14px;
      width: 440px;
    }

    @media screen and (max-width: $media-md) {
      width: 330px;
    }

    @media screen and (max-width: $media-sm) {
      width: 370px;
    }

    @media screen and (max-width: $media-xs) {
      width: 270px;
    }

    .name,
    .email,
    .text {
      margin-bottom: 41px;

      @media screen and (max-width: $media-lg-plus) {
        margin-bottom: 35px;
      }

      @media screen and (max-width: $media-lg) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: $media-lg-plus) {
        margin-bottom: 35px;
      }

      @media screen and (max-width: $media-lg) {
        margin-bottom: 30px;
      }

      @media screen and (max-height: 768px) {
        margin-bottom: 15px;
      }

      label {
        display: block;
        margin-bottom: 19px;

        @media screen and (max-width: $media-sm) {
          font-size: 12px;
        }

        @media screen and (max-width: $media-xs) {
          font-size: 10px;
          margin-bottom: 10px;
        }
      }
    }

    .name__input,
    .email__input,
    .text__input {
      background-color: $global-white;
      border: none;
      box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.01);
      box-sizing: border-box;
      color: $global-black;
      font-family: inherit;
      font-size: 16px;
      height: 70px;
      padding: 0 20px;
      width: 100%;

      &:focus {
        outline: none;
      }

      @media screen and (max-width: $media-lg-plus) {
        height: 60px;
      }

      @media screen and (max-height: 900px) {
        height: 55px;
      }

      @media screen and (max-width: $media-md) {
        height: 55px;
      }

      @media screen and (max-width: $media-sm) {
        font-size: 14px;
        height: 50px;
      }

      @media screen and (max-width: $media-xs) {
        font-size: 12px;
        height: 40px;
      }
    }

    .text__input {
      height: 134px;
      padding: 20px;
      resize: none;

      @media screen and (max-height: 900px) {
        height: 94px;
      }

      @media screen and (max-width: $media-lg-plus) {
        height: 110px;
      }

      @media screen and (max-width: $media-sm) {
        height: 70px;
      }

      @media screen and (max-width: $media-xs) {
        height: 40px;
      }
    }
  }
}
