.contact-wrapper {
  align-items: flex-start;
  display: flex;

  @media (max-width: $media-sm) {
    display: flex;
    flex-direction: column;
  }
}

.form {
  background-color: $bg-color;
  height: 100vh;
  width: 50%;

  @media (max-width: $media-sm) {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 120px;
    padding-left: 22.5%;
    padding-right: 14%;

    @media (min-width: $media-xxl) {
      padding-bottom: 138px;
    }

    @media (max-width: $media-xl-plus) {
      padding-bottom: 85px;
    }

    @media (max-width: $media-lg) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: $media-md) {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 35px;
    }
  }

  &__header {
    margin-bottom: 0;

    @media (max-width: $media-md) {
      font-size: 12px;
      margin-bottom: 30px;
    }

    @media (min-width: $media-xxl) {
      font-size: 32px;
      margin-bottom: 0;
    }
  }

  &__wrapper {
    margin-top: auto;
    margin-bottom: auto;
  }

  .field {
    margin-bottom: 35px;

    @media (max-width: $media-xl-plus) {
      margin-bottom: 25px;
    }

    @media (max-width: $media-lg) {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 19px;

      @media (max-width: $media-xl-plus) {
        margin-bottom: 13px;
      }

      @media (max-width: $media-lg) {
        font-size: 12px;
        margin-bottom: 10px;
      }

      @media (max-width: $media-xs) {
        font-size: 10px;
      }
    }
  }

  .field__input {
    background-color: $global-white;
    border: none;
    box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.01);
    box-sizing: border-box;
    color: $global-black;
    font-family: inherit;
    font-size: 16px;
    height: 70px;
    padding: 0 20px;
    width: 100%;

    &:focus {
      outline: none;
    }

    @media (max-width: $media-xl-plus) {
      font-size: 14px;
      height: 55px;
    }

    @media (max-width: $media-lg) {
      height: 45px;
    }

    @media (max-width: $media-md) {
      height: 42px;
    }

    @media (max-width: $media-xs) {
      font-size: 12px;
      height: 40px;
    }
  }

  .text {
    height: 134px;
    padding: 20px;
    resize: none;

    @media (max-width: $media-xl-plus) {
      height: 96px;
    }

    @media (max-width: $media-lg) {
    }

    @media (max-width: $media-sm) {
      height: 70px;
    }

    @media (max-width: $media-xs) {
      height: 40px;
    }
  }
}
