.content__slider {
  margin-bottom: 20px;
}

.about-me-mobile {
  align-items: flex-start;
  display: flex;

  .about-me-mobile__slider-bullets {
    display: flex;

    li {
      background-color: transparent;
      border: 2px solid #000;
      height: 14px;
      width: 14px;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &.slick-active {
        background-color: #000;
      }

      button {
        cursor: pointer;
        font-size: 0;
      }
    }
  }

  .about-me-mobile__slider-controls {
    display: none;
    display: flex;
    flex-direction: column-reverse;
  }

  .about-me-mobile__slider-swap {
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    padding: 2px;
    text-transform: uppercase;
    width: 76px;
  }
}

.fake-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .fake-slider__slider-swap {
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: none;
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    margin-bottom: 32px;
    padding: 2px;
    text-transform: uppercase;
    width: 76px;
  }

  .fake-slider__arrow {
    background: url(../images/icons/arrow-mobile.svg) no-repeat;
    background-size: auto;
    height: 49px;
    width: 10px;
  }
}
