.slider-item-mob {
  align-items: flex-start;
  display: flex !important; //костыль, но пока не убирать:)
  // justify-content: space-around;
  max-width: 750px;
  width: 100%;

  &__text-part {
    width: 100%;

    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 40px;
      max-width: 750px;
      text-transform: none;
      width: 100%;
    }
  }
}

.content__slider__photo-part {
  height: 100%;
  margin-bottom: 40px;
  width: 100%;

  .photo-part__photo {
    display: block;
    height: auto;
    padding-top: 30px;
    width: 100%;
  }
}
