@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  box-sizing: border-box;
  // outline: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  // outline: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: $global-black;
  cursor: url($cursor-default) 20 20, auto;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  min-width: 320px;
  min-height: 600px;
  overflow-x: hidden;
  text-transform: uppercase;
}

a,
button {
  &:hover {
    cursor: url($cursor-pointer) 30 30, pointer;
  }
}

main {
  @include hide-on-menu-hover;
}

//Модули
@import "modules/modules";
