@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
//Модули
@import "modules/modules";

* {
   margin: 0;
   padding: 0;
}

body {
   color: $global-black;
   font-family: "GothamPro", sans-serif;
   font-size: 16px;
   font-weight: 500px;
   line-height: normal;
   margin: 0;
   text-transform: uppercase;
}

.container-full {
   margin: 0 auto;
   max-width: 1680px;
   width: 100%;
}
