@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
//Модули
@import "modules/modules";

* {
   margin: 0;
   padding: 0;
 }
 body {
   margin: 0;
   font-family: 'GothamPro', sans-serif;
   font-size: 16px;
   font-weight: 500px;
   line-height: normal;
   text-transform: uppercase;
   color: $global-black;
 }
.container-full{
   width: 100%;
   max-width: 1680px;
   margin: 0 auto;
 }
