.ieromin {
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @media (max-width: $media-md) {
    height: auto;
    padding-bottom: 50px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 1;

    // @media (max-width: $media-xl-plus) {
    //   padding-left: 10px;
    // }
  }

  &__body {
    @media (max-width: $media-md) {
      margin-bottom: 35px;
    }
  }

  &__footer {
    align-items: flex-start;
    display: flex;
    height: 260px;
    justify-content: space-between;
    margin-bottom: 76px;
    // margin-right: 120px;
    margin-top: auto;

    @include hide-on-name-lettering-hover;

    @media (max-width: $media-xl-plus) {
      height: 205px;
      margin-bottom: 55px;
      margin-right: 85px;
    }

    @media (max-width: $media-lg) {
      margin-right: 60px;
    }

    @media (max-width: $media-md) {
      display: initial;
      margin-bottom: 0;
      margin-right: 0;
      // min-height: 298px;
      height: auto;
    }

    @media (min-width: $media-xxl) {
      height: 390px;
      margin-bottom: 100px;
    }

    &-col {
      &:nth-child(1) {
        box-sizing: border-box;
        width: 360px;
        flex-shrink: 0;
        margin-right: auto;
        // padding-right: 150px;
        // width: 40%;

        @media (max-width: $media-md) {
          margin-bottom: 25px;
          margin-right: 0;
          padding-right: 0;
          width: 100%;
        }
      }

      &:nth-child(2) {
        // padding-right: 75px;
        // width: 24%;
        max-width: 380px;
        margin-left: 90px;
        margin-right: 90px;

        @media (max-width: $media-xl-plus) {
          width: 280px;
          padding-right: 0;
        }

        @media (max-width: $media-md) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 25px;
        }
      }

      &:nth-child(3) {
        // flex: 1;
        margin-bottom: 30px;
        margin-right: 120px;
        margin-left: auto;
        // margin-top: 30px;
        max-width: 360px;
        min-width: 200px;
        // padding-left: 180px;

        @media (min-width: 1700px) {
          flex-grow: 1;
        }

        @media (max-width: $media-xl-plus) {
          margin-top: 0;
          width: 24%;
          margin-left: auto;
        }

        @media (max-width: $media-md) {
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }

      &:not(:last-child) {
        // margin-right: 30px;
      }
    }

    &-slogan {
      width: 430px;

      @media (max-width: $media-md) {
        width: auto;
        font-size: 24px;
      }
    }

    &-about {
      display: block;
      font-weight: 500;

      @media (max-width: $media-xl-plus) {
        font-size: 12px;
      }

      @media (min-width: $media-xxl) {
        font-size: 22px;
      }

      &:not(:last-child) {
        margin-bottom: 1.2em;
      }
    }

    &-awards {
      flex: 1;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;

      @media (max-width: $media-md) {
        font-size: 18px;

        br {
          display: none;
        }
      }

      @media (min-width: $media-xxl) {
        font-size: 32px;
        line-height: 42px;
      }
    }
  }
}

// $letterTop: "((100vh - (260px + 76px) - 184px - 182px) / 2) + 184px";
// $letterBottom: "((100vh - (260px + 76px) - 184px - 182px) / 2) + 184px + 182px";

// $letterHeight: 182px;
$letterHeight: (182 / 276 * 1em);

$headerHeight: 184px;
$footerHeight: (260px + 76px);

$headerHeightXL: 250px;
$footerHeightXL: 490px;

$headerHeightLG: 128px;
$footerHeightLG: (205px + 55px);

$letterTop: "((100vh - #{($footerHeight + $headerHeight)} - #{$letterHeight}) / 2) + #{$headerHeight}";
$letterBottom: "((100vh - #{($footerHeight + $headerHeight)} - #{$letterHeight}) / 2) + #{$headerHeight} + #{$letterHeight}";

$letterTopLG: "((100vh - #{($footerHeightLG + $headerHeightLG)} - #{$letterHeight}) / 2) + #{$headerHeightLG}";
$letterBottomLG: "((100vh - #{($footerHeightLG + $headerHeightLG)} - #{$letterHeight}) / 2) + #{$headerHeightLG} + #{$letterHeight}";

// $letterTop: "50vh - 167px";
// $letterBottom: "50vh + 15px";

.ieromin__lettering {
  position: absolute;
  bottom: calc(#{$letterBottom});
  top: calc(#{$letterTop});
  left: 0;
  right: 0;
  z-index: -1;
  height: (182px / 276px * 1em);
  font-size: 276px;
  line-height: (182px / 276px);
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;

  @media (max-width: $media-xl-plus) {
    bottom: calc(#{$letterBottomLG});
    top: calc(#{$letterTopLG});
    font-size: 195px;
  }

  @media (max-width: $media-lg) {}

  @media (max-width: $media-md) {
    position: relative;
    top: 0;
    bottom: 0;
    height: 40vw;
    font-size: 20.5vw;
    line-height: 0.7em;
    margin-left: -15px;
    margin-right: -15px;
  }

  @media (max-width: $media-xs) {
    height: 215px;
    font-size: 68px;
    line-height: 70px;
  }

  @media (min-width: 1921px) {
    font-size: 369px;
  }
  
  &:hover {
    span {
      opacity: 0.15;

      @media (max-width: $media-md) {
        opacity: 1;
      }
    }

    .ieromin__lettering-back {
      filter: brightness(1) contrast(100%);

      @media (max-width: $media-md) {
        filter: none;
      }
    }

    .ieromin__lettering-front {
      &::after {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        filter: brightness(1) contrast(100%);

        @media (max-width: $media-md) {
          filter: none;
        }
      }

      &::before {
        transform: scale3d(1, 0, 1);
      }
    }
  }
}

.ieromin__lettering-back,
.ieromin__lettering-front {
  position: absolute;
  right: 0;
  left: 0;
  top: calc((#{$letterTop}) * -1);
  bottom: calc((#{$letterBottom}) * -1);
  pointer-events: none;

  @media (max-width: $media-xl-plus) {
    top: calc((#{$letterTopLG}) * -1);
    bottom: calc((#{$letterBottomLG}) * -1);
  }

  @media (max-width: $media-md) {
    bottom: 0;
    top: 0;
  }

  span {
    display: block;
    // top: 0;
    left: 120px;
    margin-left: -0.07em;
    position: absolute;
    top: calc(#{$letterTop});
    transform: translate3d(0, 0, 0);
    transition: 0.5s opacity;

    @media (max-width: $media-xl-plus) {
      top: calc(#{$letterTopLG});
      left: 85px;
    }

    @media (max-width: $media-lg) {
      left: 60px;
    }

    @media (max-width: $media-md) {
      left: 50%;
      top: auto;
      bottom: 0;
      transform: translateX(-50%);
      margin-left: 0;
    }

    @media (max-width: $media-xs) {
      top: 156px;
      bottom: auto;
    }

    @media (min-width: $media-xxl) {
      left: 160px;
    }

    &::before {
      background-color: #fff;
      content: "";
      display: block;
      position: absolute;
      top: (90 / 276 * -1em);
      left: 0;
      height: (54 / 276 * 1em);
      width: (54 / 276 * 1em);
      margin-left: 0.07em;

      @media (max-width: $media-md) {
        display: none;
      }
    }
  }
}

.ieromin__lettering-back {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(#000, 0.25), rgba(#000, 0.25)), url("../images/content/index-page/photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.75) contrast(200%);
  transform: translate3d(0, 0, 0);
  transition: 0.5s filter;

  @media (max-width: $media-md) {
    background-attachment: scroll;
    background-image: linear-gradient(rgba(#000, 0.4), rgba(#000, 0.4)), url("../images/content/index-page/photo-mobile.jpg");
    background-size: cover;
    background-position: top;
    filter: none;
    min-height: 215px;
    transform: none;
  }

  @media (min-width: $media-xxl) {
    background-size: cover;
  }
}

.ieromin__lettering-front {
  &::after {
    background-attachment: fixed;
    background-color: #fff;
    background-image: linear-gradient(#727272, #727272);
    background-position: calc(120px + 0px) calc((#{$letterTop}) - (#{(54 / 276)}em) - (#{(36 / 276)}em));
    background-repeat: no-repeat;
    background-size: #{(54 / 276 * 1em)} #{(54 / 276 * 1em)};
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(#{$letterTop}), 0 calc(#{$letterTop}));
    content: "";
    display: block;
    filter: brightness(0.75) contrast(200%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition-duration: 0.5s;
    transition-property: filter, clip-path;

    @media (max-width: $media-xl-plus) {
      background-position: calc(85px + 0px) calc((#{$letterTopLG}) - (#{(54 / 276)}em) - (#{(36 / 276)}em));
      clip-path: polygon(0 0, 100% 0, 100% calc(#{$letterTopLG}), 0 calc(#{$letterTopLG}));
    }

    @media (max-width: $media-xl-plus) {
    }

    @media (max-width: $media-lg) {
      background-position: calc(60px + 0px) calc((#{$letterTopLG}) - (#{(54 / 276)}em) - (#{(36 / 276)}em));
    }

    @media (max-width: $media-md) {
      display: none;
      filter: none;

      &::after {
        display: none;
      }
    }

    @media (min-width: $media-xxl) {
      background-position: calc(160px + 0px) calc((#{$letterTopLG}) - (#{(54 / 276)}em) - (#{(36 / 276)}em));
      clip-path: polygon(0 0, 100% 0, 100% calc(#{$letterTopLG}), 0 calc(#{$letterTopLG}));
    }
  }

  &::before {
    background-color: #fff;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: calc(#{$letterBottom});
    transform: scale3d(1, 1, 1);
    transform-origin: bottom;
    transition: 0.5s transform;

    @media (max-width: $media-md) {
      display: none;
    }
  }
}
