.reviews {
  padding-top: 50px;

  @media (max-width: $media-lg) {
    padding-top: 100px;
  }

  .mCSB_draggerContainer {
    opacity: 0;
  }

  &__caption {
    font-size: 48px;
    font-weight: 700;

    @media (max-width: $media-lg) {
      font-size: 24px;
    }
  }

  &__header {
    align-items: baseline;
    display: flex;
    margin-bottom: 100px;
    position: relative;

    @media (max-width: $media-xl-plus) {
      margin-bottom: 60px;
    }

    @media (max-width: $media-lg) {
      margin-bottom: 30px;
    }
  }

  &__logo {
    margin-right: 90px;
  }

  @media (max-width: $media-lg) {
    margin-bottom: 65px;
  }

  &__logo {
    display: block;

    @media (max-width: $media-lg) {
      display: none;
    }
  }

  &__list {
    padding-top: 50px;

    @media (max-width: $media-lg) {
      padding-top: 0;
    }

    &.slick-slider {
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }

  &__body {
    height: calc(100vh - 206px);
    overflow: scroll;
    scrollbar-width: none; // Firefox
    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }

    @media (max-width: $media-xl-plus) {
      height: calc(100vh - 160px);
    }

    @media (max-width: $media-lg) {
      height: auto;
    }
  }

  &__body-wrapper {
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 80px;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 5;

      @media (max-width: $media-lg) {
        display: none;
      }
    }

    &::before {
      background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
      top: 0;
    }

    &::after {
      background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
      bottom: 0;
      height: 30px;
    }
  }

  &__slider-bullets {
    display: flex;

    li {
      background-color: transparent;
      border: 2px solid #000;
      height: 14px;
      width: 14px;

      &:not(:last-child) {
        margin-right: 24px;
      }

      &.slick-active {
        background-color: #000;
      }

      button {
        cursor: pointer;
        font-size: 0;
      }
    }

    @media (max-width: 768px) {
      li {
        height: 12px;
        width: 12px;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  &__item {
    background-image: url("../images/icons/quote.svg");
    background-repeat: no-repeat;
    background-size: 37px 37px;
    font-size: 18px;
    font-weight: 300;
    height: auto;
    line-height: 20px;
    margin-bottom: 78px;
    padding-left: 120px;
    padding-right: 170px;
    text-transform: initial;

    @media (max-width: 1400px) {
      background-size: 25px 25px;
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: $media-lg) {
      background-size: 30px 30px;
      font-size: 14px;
      margin-bottom: 30px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 50px;
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    &-text {
      margin-bottom: 25px;

      @media (max-width: 768px) {
        margin-bottom: 22px;
      }
    }

    &-author-name {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 13px;
      opacity: 1;
      text-transform: uppercase;

      @media (max-width: 768px) {
        color: #000;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }

    &-author-info {
      color: #000;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }

  &__slider {
    padding-left: 120px;
    padding-right: 180px;

    @media (max-width: $media-lg) {
      padding-left: 0;
      padding-right: 0;
    }

    &-controls {
      align-items: center;
      display: none;

      @media (max-width: $media-lg) {
        display: flex;
      }
    }

    &-bullets {
      margin-left: auto;
    }

    &-swap {
      background-color: #000;
      color: #fff;
      display: inline-block;
      font-size: 9px;
      font-weight: 500;
      padding: 4px;
      text-transform: uppercase;
    }
  }
}
