.reviews {
  color: #000;
  float: left;
  height: 100vh;
  padding-top: 66px;
  width: 50%;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &__header {
    align-items: baseline;
    display: flex;
    margin-bottom: 50px;
    position: relative;
  }

  &__body {
    height: 686px; // определить js-ом
    overflow-x: auto;
    padding-top: 80px;
  }

  &__body-wrapper {
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 120px;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 10;
    }

    &::before {
      background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
      top: 0;
    }

    &::after {
      background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
      bottom: 0;
      height: 30px;
    }
  }

  &__logo {
    margin-right: 90px;
  }

  &__list {
    max-width: 630px;
    padding-bottom: 78px;
  }

  &__item {
    padding-left: 120px;

    &:not(:last-child) {
      margin-bottom: 78px;
    }

    &-text {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }

    &-author-info {
      margin-top: 36px;
    }

    &-author-name {
      color: inherit;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 14px;
    }

    &-author-about {
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      opacity: 0.5;
    }
  }
}
