.contact {
  .contact__header {
    align-items: center;
    display: flex;
    margin-bottom: 23%;
    padding-top: 66px;

    @media screen and (max-width: $media-lg) {
      margin-bottom: 15%;
      padding-top: 0;
    }

    @media screen and (max-width: $media-sm) {
      padding-top: 40px;
    }

    @media screen and (max-width: $media-xs) {
      margin-bottom: 39px;
      padding-top: 0;
    }

    &__logo {
      color: #000;
      display: inline-block;
      font-size: 24px;
      font-weight: 700;
      height: 18px;
      margin-right: 95px;
      width: 107px;

      @media screen and (max-width: $media-lg) {
        display: none;
      }
    }

    &__caption {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 0;

      @media screen and (max-width: $media-lg) {
        font-size: 36px;
      }

      @media screen and (max-width: $media-md) {
        font-size: 28px;
      }
    }
  }
}
