.caption {
  &--size-l {
    @include header-default;
  }

  &--size-2 {
    @include header-default;

    font-size: 24px;

    @media screen and (max-height: 900px) {
      font-size: 22px;
    }

    @media screen and (max-width: $media-mobile) {
      padding-top: 66px;
    }

    @media screen and (max-width: $media-md) {
      font-size: 24px;
    }

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }

  }
}
