.index-header {
  display: flex;
  justify-content: space-between;
  padding: 65px 0;

  @include hide-on-name-lettering-hover;

  @media screen and (max-width: $media-lg) {
    display: none;
  }

  &__link {
    margin-right: 120px;
    width: 240px;

    @media screen and (max-width: $media-xl-plus) {
      width: 170px;
    }
    
    @media screen and (max-width: $media-lg) {
      margin-right: 0;
      max-width: 100%;
    }
  }
}
