.index-header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 65px 0;

  @include hide-on-name-lettering-hover;

  @media (max-width: $media-xl-plus) {
    padding: 45px 0;
  }

  @media (max-width: $media-lg) {
  }

  @media (max-width: $media-md) {
    display: none;
  }

  &__logo {
    width: 107px;

    img {
      width: 100%;
      height: auto;
    }

    @media (min-width: $media-xxl) {
      margin-right: 120px;
      width: 155px;
    }
}

  &__link {
    margin-right: 120px;
    width: 240px;

    @media (max-width: $media-xl-plus) {
      width: 170px;
      margin-right: 85px;
    }

    @media (max-width: $media-lg) {
      margin-right: 60px;
    }
    
    @media (min-width: $media-xxl) {
      width: 320px;
      margin-right: 160px;
    }

    @media (max-width: $media-md) {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }
}
